<div class="flex gap-10">
	{# Sample image #}
	<div class="w-44">
		<img class="w-full object-contain rounded-lg" src="								
			{% if asset('uploads/' ~ motor.mt_sample_img) %}
				{{ asset('uploads/' ~ motor.mt_sample_img) }}
			{% else %}
				{{ asset('images/motor_example.png') }}
			{% endif %}
		" alt="">
	</div>

	{# Short information #}
	<div class="w-2/3">
		<p class="text text-red-600 font-bold">
			{{ motor.mt_name }}
		</p>
		<p class="text mb-5">Giá từ:
			{{ custom_number_format(motor.mt_price) }}
			VNĐ</p>
		<p class="text-xs text-gray-500">
			{{ motor.mt_descr }}
		</p>
		<div class="colors text-xs flex items-center mt-5">
			<p class="font-bold me-6">Màu sắc:</p>
			{% for color in motor.colors %}
				<div class="flex items-center">
					<span class="rounded-full w-4 h-4 inline-block me-1 border border-gray-400" style="background-color: {{ color.color_hex }}"></span>
					<span class="me-4">{{ color.color_name }}</span>
				</div>
			{% endfor %}
		</div>
	</div>
</div>
