<a href="/motors/{{ motor.mt_id }}">
	<div class="relative">
		{# Sample image #}
		<div class="h-64 flex items-center">
			<img class="w-full object-contain rounded-lg" src="								
				{% if asset('uploads/' ~ motor.mt_sample_img) %}
					{{ asset('uploads/' ~ motor.mt_sample_img) }}
				{% else %}
					{{ asset('images/motor_example.png') }}
				{% endif %}
			" alt="">
		</div>

		{# List of colors #}
		<div class="colors absolute top-6 left-1 flex gap-2">
			{% for color in motor.colors %}
				<span class="rounded-full w-4 h-4 border border-gray-400" style="background-color: {{ color.color_hex }}" title="{{ color.color_name }}"></span>
			{% endfor %}
		</div>
	</div>

	{# Motor name #}
	<p class="text-2xl text-red-600 font-bold">
		{{ motor.mt_name }}
	</p>

	{# Motor price #}
	<p>Giá từ:
		{{ custom_number_format(motor.mt_price) }}
		VNĐ
	</p>
</a>
